<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        main{
            position: relative;
        }
        .one{
            width: 500px;
            height: 500px;
            position: relative;
            margin-left: 250px;
            top: 100px;
        }
        .two{
            width: 500px;
            height: 500px;
            position: relative;
            left: 780px;
            bottom: 400px;
        }
    </style>
</head>
<body>
    <div class="main">
        <form method="post">
            {% csrf_token %}
        <div class="one">
            <label>Your Code </label>
            <textarea id="input" cols="200" rows="10" class="form-control" placeholder="Enter your code" name="input"></textarea><br><br>
            <div class="dropdown">
                <select name="dropdown" id="dropdown">
                    <option value="xml">XML</option>
                    <option value="json">JSON</option>
                </select>
              </div><br><br><br>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" style="width: 100px;"> Submit  </button>
            </div>
        </div>
        <div class="two">
            <label>Your Output </label>
            <textarea name="code" id="" cols="200" rows="10" class="form-control" readonly></textarea><br><br>
            <div class="dropdown">
                <select name="dropdown2" id="dropdown2">
                    <option value="xml-output">XML</option>
                    <option value="json-output">JSON</option>
                </select>
            </div>
              
        </div>
        
        </form>
    </div>
</body>
</html>